<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    
    <bindings>
      <wsHttpBinding>
        <binding name="WsNoSec">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      
    <endpoint name="BasicHttp_Calc"
              address="http://localhost:8090/Math"
              binding="basicHttpBinding"
              contract="Contracts.ICalculator" />
      
    <endpoint name="WsHttp_Calc"
              address="http://localhost:8090/Math/ws"
              binding="wsHttpBinding"
              bindingConfiguration="WsNoSec"
              contract="Contracts.ICalculator" />
    </client>
  </system.serviceModel>
</configuration>